# Python basic syntax

### Indentation

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [ ]:
if 5 > 2:
  print("Five is greater than two!")
  print("End")

Five is greater than two!
End

In [ ]:
if 5 < 2:
  print("Five is less than two!")
  print("End")

## Comment

Use comments to annotate codes

Comments are ignored by Python interpreter

In [ ]:
#This is a inline comment

"""
This is a multiple line comment
Line 2
"""

'\nThis is a multiple line comment\nLine 2\n'

## Variables and Data types

A variable is reated when assigned with a value

Use = to assign a value to a variable

No need to declare Data Type – Automatically detected

Python - dynamic typed - Data type is determined at run-time

### integer

In [ ]:
a = 10 # a is a int

type(a)

int

### floating point

In [ ]:
b = 10.0 # b is a float

type(b)

float

### String

Enclosed by a pair of single (‘string’) or double (“string”) quotation marks

In [ ]:
c = "Hello world" # c is a String

type(c)

str

### List

Ordered – Access individual items using indices

Mixed Data Type allowed

In [ ]:
d = ["apple", "banana", "cherry"] # d is a list

type(d)

list

### Tuple

Mostly same as list

Difference: reassignment or deletion of individual items NOT allowed (Immutable)

In [ ]:
e = ("apple", "banana", "cherry") # e is a tuple

type(e)

tuple

### Range

In [ ]:
f = range(10) # f is a range from 0 to 9 
f = range(0, 10) # is the same as the previous one, when start index = 0, it can be emitted

type(f)

range

### Dictionary

Hold key-value pairs

Unordered – Access values using keys

In [ ]:
g = {"name" : "John", "age" : 36} # g is a dict
print(g["name"])
type(g)

John

dict

### Set

No duplicate values – Individual items are unique

Unordered

In [ ]:
h = {"apple", "banana", "cherry"} # h is a set

type(h)

### Frozenset

In [ ]:
i = frozenset({"apple", "banana", "cherry"}) # i is a frozenset

type(i)

### Boolean

Two possible values: True, False

In [ ]:
j = True # j is a boolean with value of True
j = not j
print(j)
type(j)

False

bool

## Basic Operations

In [ ]:
# + - * / % ** //
x, y = 10, 3
x + y, x - y, x * y, x / y, x % y, x ** y, x // y

(13, 7, 30, 3.3333333333333335, 1, 1000, 3)

In [ ]:
#+= -= *= /= %= //= 
x, y = 10, 3
x +=y 
x = x + y
print(x)

x -=y
print(x)

x *= y
print(x)

x /= y
print(x)

x %= y
print(x)

x //= y
print(x)

16
13
39
13.0
1.0
0.0

In [ ]:
# == > < != 
x, y = 1, 2
x == y, x > y, x < y, x != y

(False, False, True, True)

In [ ]:
# in, not in
x = ["apple", "banana"]

print("z" in x)

y = "test"

print("e" in y)

False
True

## List
![image.png]()

Ordered collection of data

Use index to access, reassign or delete items

In [ ]:
d = ["apple", "banana", "cherry"] # d is a list

### Access element 
Access element in list by index list[index]

In [ ]:
# Access element in list by index list[index]
print(d[2])

cherry

### negative index
Access element in list by index list[index] where index is a negative number, e.g: -1 means the last element of the list

In [ ]:
print(d[-1])

cherry

### range of index
Get sublist of a list by list[startIndex:endIndex] (element at endIndex not included)

This example returns the items from index 2 (included) to index 5 (excluded)

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:6])

['cherry', 'orange', 'kiwi', 'melon']

This example returns the items from index -4 (included) to index -1 (excluded)

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

### Change Item Value

To change the value of a specific item, refer to the index number: list[index] = newValue

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "kiwi"
print(thislist)

['apple', 'kiwi', 'cherry']

### Add Items

To add an item to the end of the list, use the append() method:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

To add an item at the specified index, use the insert() method:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

### Loop Through a List

You can loop through the list items by using a for loop:

In [ ]:
thislist = ["apple", "banana", "cherry"]
for fruit in thislist:
  print(fruit)

apple
banana
cherry

### Check if Item Exists

To determine if a specified item is present in a list use the in keyword:

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

### List Length

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

### Concatenation

You can + operator to concatenate 2 lists together

In [ ]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

### max & min

max(list) Returns item from the list with max value.

In [ ]:
list1, list2 = ['xyz', 'zara', 'abc'], [456, 700, 200]
print(max(list1))
print(max(list2))

zara
700

min(list) Returns item from the list with min value.

In [ ]:
list1, list2 = ['xyz', 'zara', 'abc'], [456, 700, 200]
print(min(list1))
print(min(list2))

abc
200

### sort

list.sort(reverse=True|False, key=myFunc)

In [ ]:
numbers = [100, 12, 34]

numbers.sort()
print(numbers)

[12, 34, 100]

In [ ]:
numbers = [100, 12, 34]

numbers.sort(reverse=True)
print(numbers)

[100, 34, 12]

In [ ]:
# A function that returns the length of the value:
def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(key=myFunc)
print(cars)

['VW', 'BMW', 'Ford', 'Mitsubishi']

In [ ]:
# A function that returns the 'year' value:
def myFunc(e):
  return e['year']

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=myFunc)
print(cars)

[{'car': 'Mitsubishi', 'year': 2000}, {'car': 'Ford', 'year': 2005}, {'car': 'VW', 'year': 2011}, {'car': 'BMW', 'year': 2019}]

### Exercise

Find the common elements in list_a & list_b

In [ ]:
list_a = [1, 2, 3, 4]
list_b = [2, 3, 4, 5]

common_num = []
# Expected Output [2, 3, 4]

In [ ]:
# Write your solution
for a in list_a:
  for b in list_b:
    if a == b:
      common_num.append(a)
      
print(common_num)  # Output [2, 3, 4]

[2, 3, 4]

## Control Flow

### conditional expressions

In [ ]:
a = 200
b = 33
if b < a:
  print("b is greater than a")

In [ ]:
# if elif else
a = 200
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

In [ ]:
# Short Hand If
if a > b: print("a is greater than b")

In [ ]:
# Short Hand If ... Else
a = 2
b = 330
print("A") if a > b else print("B")

### Indefinite Iteration

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

### Definite Iteration

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

In [ ]:
for x in "banana":
  print(x)

In [ ]:
for x in range(6):
  print(x)

### Exercise

Given a list numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
Output the number of even numbers and odd numbers

In [ ]:
# Write your solution

## Functions

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

In [ ]:
def add(a,b):
  return a+b

print(add(2,5))

## Lambda function

In [ ]:
# Use lambda functions when an anonymous function is required for a short period of time.
x = lambda a : a + 10
print(x(5))

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

## Map & filter

In [ ]:
items = [1, 2, 3, 4, 5]
squared = []
for i in items:
    squared.append(i**2)

Map applies a function to all the items in an input_list

In [ ]:
items = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, items))
print(squared)

Filter creates a list of elements for which a function returns true

In [ ]:
number_list = range(-5, 5)
less_than_zero = list(filter(lambda x: x < 0, number_list))
print(less_than_zero)

# Output: [-5, -4, -3, -2, -1]

## List Comprehension

List comprehensions provide a concise way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [ ]:
# new_list = [expression for_loop_one_or_more conditions]


numbers = [1, 2, 3, 4]
squares = []

for n in numbers:
  squares.append(n**2)

print(squares)  # Output: [1, 4, 9, 16]

numbers = [1, 2, 3, 4]
squares = [n**2 for n in numbers]

print(squares)  # Output: [1, 4, 9, 16]

In [ ]:
list_a = [1, 2, 3, 4]
list_b = [2, 3, 4, 5]

common_num = []

for a in list_a:
  for b in list_b:
    if a == b:
      common_num.append(a)
      
print(common_num)  # Output [2, 3, 4]

## Exercise

Use list comprehension to rewrite the above program

In [ ]:
#Write your solution

# Numpy

In [ ]:
import numpy as np

## create a numpy array

In [ ]:
arr = np.array([1, 2, 3, 4, 5])

print(arr)
type(arr)

## Array index,slicing, max, min

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4])

print(arr[0])
print(np.amax(arr))
print(np.amin(arr))

### nd array

In [ ]:
import numpy as np

arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])

print('2nd element on 1st dim: ', arr[0, 1])

In [ ]:
import numpy as np 
a = np.array([[1,2,3],[3,4,5],[4,5,6]]) 
print(a)

# slice items starting from index
print('Now we will slice the array from the index a[1:]')
print(a[1:])

In [ ]:

# array to begin with 
import numpy as np 
a = np.array([[1,2,3],[3,4,5],[4,5,6],[7,8,9]]) 

print('Our array is:')
print(a)  

# this returns array of items in the second column 
print('The items in the second column are:')
print(a[:1]) 

# Now we will slice all items from the second row 
print('The items in the second row are:')
print(a[1:]) 

print(a[2,2])

# Now we will slice all items from column 1 onwards 
print('The items column 1 onwards are:')
print(a[:1:])

## Array Search

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 4, 4])

x = np.where(arr == 4)

print(x)

## Array sort

In [ ]:
import numpy as np

arr = np.array([3, 2, 0, 1])

print(np.sort(arr))

## broadcast

In [ ]:
x = np.array([[1], [2], [3]])
y = np.array([4, 5, 6])
print(x)
print(y)
b = np.broadcast(x, y)

In [ ]:
x + y

## join

In [ ]:
import numpy as np

arr1 = np.array([1, 2, 3])

arr2 = np.array([4, 5, 6])

arr = np.concatenate((arr1, arr2))

print(arr)

## split

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6])

newarr = np.array_split(arr, 3)

print(newarr)

## numpy array reshape

In [ ]:

arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

newarr = arr.reshape(4, 3)

print(newarr)

## Universal Functions

In [ ]:
import numpy as np
 
x = np.array([1, 2, 3, 4])
y = np.array([4, 5, 6, 7])
z = x + y

print(z)

In [ ]:
import numpy as np

arr1 = np.array([10, 11, 12, 13, 14, 15])
arr2 = np.array([20, 21, 22, 23, 24, 25])

newarr = arr1 - arr2

print(newarr)

In [ ]:
import numpy as np

arr1 = np.array([10, 20, 30, 40, 50, 60])
arr2 = np.array([20, 21, 22, 23, 24, 25])

newarr = arr1 - arr2

print(newarr)

In [ ]:
import numpy as np

arr1 = np.array([10, 20, 30, 40, 50, 60])
arr2 = np.array([20, 21, 22, 23, 24, 25])

newarr = arr1 * arr2
print(newarr)

In [ ]:
import numpy as np

arr1 = np.array([10, 20, 30, 40, 50, 60])
arr2 = np.array([3, 5, 10, 8, 2, 33])

newarr = arr1 / arr2

print(newarr)

In [ ]:
import numpy as np

arr1 = np.array([10, 20, 30, 40, 50, 60])
arr2 = np.array([3, 5, 6, 8, 2, 33])

newarr = arr1 ** arr2

print(newarr)

### matrix multiplication

In [ ]:
import numpy as np

array1=np.array([[1,2,3],[4,5,6],[7,8,9]],ndmin=3)  
array2=np.array([[9,8,7],[6,5,4],[3,2,1]],ndmin=3)  
result=np.dot(array1,array2)
result

## Exercise

Write a  program to convert the values of Centigrade degrees into Fahrenheit degrees. Centigrade values are stored into an array.
Sample Array [0, 12, 45.21 ,34, 99.91]

In [ ]:
import numpy as np
fvalues = [0, 12, 45.21, 34, 99.91]
F = np.array(fvalues)

In [ ]:
#Write your solution

# Pandas

## What is Pandas?
- Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language.
- Pandas relies heavily on NumPy arrays to implement its objects for manipulation and computation but in a more convenient fashion.

## Quick sidenote on importing your whole google drive to Google Collab

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

## Series

- Series is a very common data type in Pandas
- A Series is very similar to a Numpy array, but a series can have axis labels, meaning it can be indexed by a label, instead of just a number location
- A Series can hold any arbitrary Python Object.

In [ ]:
import numpy as np
import pandas as pd

### Creating a series

In [ ]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [ ]:
#pd.Series(data, index)
pd.Series(data=my_list)

In [ ]:
pd.Series(data=my_list, index=labels)

In [ ]:
pd.Series(arr)

In [ ]:
pd.Series(d)

In [ ]:
pd.Series([sum, print, len])

### Using an index

In [ ]:
# Creating a small data set
ser1 = pd.Series([1, 2, 3, 4], ['Jack', 'Jill', 'Romeo', 'Juliet'])
ser1

In [ ]:
# Creating another small data set
ser2 = pd.Series([2, 4, 1, 3], ['Jack', 'Jill', 'Romeo', 'Juliet'])
ser2

In [ ]:
# Retrieving data from the table
ser1['Jack']
ser1.loc['Jack']

In [ ]:
ser1[0]
ser1.iloc[0]

In [ ]:
# Retrieving index labels
ser1.index[1]

In [ ]:
# Simples operations on 2 dataframes with common index
ser1 + ser2

## DataFrames

- A DataFrame is just like a bunch of Series grouped together sharing the same index

In [ ]:
# Creating a pandas DataFrame
df = pd.DataFrame({'A': [1, 2, 3, 4, 5, 6, 7],
                   'B': [3, 4, 5, 6, 7, 8, 9]})
# randn params are for dimensions of returned array
df

## Read in data sets

Reading in a comma-separated values (CSV) file

For demonstration purposes, we will use the titanic dataset from https://www.kaggle.com/c/titanic/data?select=train.csv

This is the link where you can get the dataset directly: 
https://drive.google.com/file/d/1vG3ApUCZKm-0joSrBdNmvA66dIcS_9dn/view?usp=sharing

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
titanic = pd.read_csv('/content/titanic_dataset.csv')
titanic

In [ ]:
import io
titanic = pd.read_csv(io.BytesIO(uploaded['titanic_dataset.csv']))
titanic

Reading in an excel file

This is the link to get the data set directly: 
https://drive.google.com/file/d/1NeARJJ7idkfzij5lqyRImmGQRgxOA4YG/view?usp=sharing

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
pd.read_excel('/content/sample_excel.xlsx')

Retreiving basic information from a DataFrame

In [ ]:
titanic.head()

In [ ]:
titanic.describe()

In [ ]:
titanic.info()

### Selection

In [ ]:
# Selecting a column
df['Y']

In [ ]:
# Selecting 2 columns
df[['W', 'Y']]

In [ ]:
# Selecting a row
df.loc['A']

In [ ]:
# Selecting multiple rows and columns
df.iloc[:, 0:2]

In [ ]:
# Selection based on criteria
df[df>0]

In [ ]:
df[df['W'] > 0]

In [ ]:
df[df['W'] > 0]['Y']

In [ ]:
df[df['W'] > 0][['X', 'Y']]

In [ ]:
df[(df['W']<0) & (df['Y']<0)]

In [ ]:
df[(df['W']<0) | (df['Y']<0)]

### Creating a new row

In [ ]:
df['new'] = df['W'] + df['Y']
#df['new'] = [0, 1, 2, 3, 4]
df

### Dropping a column or a row

In [ ]:
# inplace=False
df.drop('new', axis=1)

In [ ]:
df.drop('E', axis=0)

### Indexing

In [ ]:
df.reset_index()

In [ ]:
# Generate a new column to replace the current index
df['Type'] = ['A', 'AA', 'AAA', 'AAAA', 'AAAAA']

In [ ]:
# Set the new column as the new index
df.set_index('Type')

## Dealing with missing data

In [ ]:
# Creating a sample data set
df2 = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})
df2

In [ ]:
# Checking for null values
df2.isnull()

In [ ]:
# Dropping rows will null data
df2.dropna()

In [ ]:
# Dropping columns with null data
df2.dropna(axis=1)

In [ ]:
#require at least <input param> values in the row that are not NaN
df2.dropna(thresh=2)

In [ ]:
# Replacing null values with zeroes
df2.fillna(0)

In [ ]:
df2['A'].fillna(df2['A'].mean())

## Groupby

We will be using the housing data set from https://www.kaggle.com/camnugent/california-housing-prices

Download the data set directly from this link: https://drive.google.com/file/d/1OG8N4w7HVlycDWCOCANSqt5coMKC0XJC/view?usp=sharing

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
housing = pd.read_csv('/content/housing.csv')
housing

In [ ]:
grouped = housing.groupby('ocean_proximity')

For more basic callable built-in pandas function: https://pandas.pydata.org/pandas-docs/stable/user_guide/basics.html

In [ ]:
grouped['latitude'].mean()

In [ ]:
grouped['latitude'].count()

In [ ]:
grouped['latitude'].var()

In [ ]:
grouped.describe()

## Combining DataFrames

### Concatenate
- Glues dataframes together along the axis given

In [ ]:
housing_set1 = housing.iloc[:5, -3:]
housing_set1

In [ ]:
housing_set2 = housing.iloc[5:10, -3:]
housing_set2

In [ ]:
housing_set3 = housing.iloc[10:15, -3:]
housing_set3.reset_index(inplace=True)
housing_set3.drop('index', inplace=True, axis=1)
housing_set3

In [ ]:
pd.concat([housing_set1, housing_set2, housing_set3])

In [ ]:
pd.concat([housing_set1, housing_set2, housing_set3], axis=1)

### Merge
- Combines 2 DataFrames on a key

In [ ]:
left = housing.sample(10).iloc[:, -3:]
left

In [ ]:
right = pd.DataFrame({'ocean_proximity': housing['ocean_proximity'].unique(),
                      'labelling': [0, 1, 2, 3, 4]})
right

In [ ]:
# inner: use intersection of keys from both frames, similar to a SQL inner join; preserve the order of the left keys.
pd.merge(left, right, how='inner', on='ocean_proximity')

In [ ]:
# outer: use union of keys from both frames, similar to a SQL full outer join; sort keys lexicographically.
pd.merge(left, right, how='outer', on='ocean_proximity')

In [ ]:
# right: use only keys from right frame, similar to a SQL right outer join; preserve key order.
# left: use only keys from left frame, similar to a SQL left outer join; preserve key order.

## Dealing with unique values

In [ ]:
df4 = pd.DataFrame({'Salesperson': ['Jack', 'Jill', 'Jimmy', 'Jack', 'Jack', 'Jane', 'Jimmy', 'Jack', 'Jill'], 
                    'key': ['1st Jan', '2nd Jan', '3rd Jan', '4th Jan', '5th Jan', '6th Jan', '7th Jan', '8th Jan', '9th Jan'], 
                    'Sales': [2000, 2000, 3000, 2200, 44000, 33000, 11100, 2220, 3000]})
df4

In [ ]:
# listing all unique values
df4['Salesperson'].unique()

In [ ]:
# listing number of unique values
df4['Salesperson'].nunique()

In [ ]:
# listing the number of each unique value available in the column
df4['Salesperson'].value_counts()

## Pandas datetime

### Convert string to datetime

In [ ]:
# Reference for all symbolic representations
# https://strftime.org/
date = pd.to_datetime("29 Sep 2019", format = '%d %b %Y' )
print(date)

In [ ]:
type(date)

### Datetime difference

In [ ]:
# Creating a list of dates with a fixed period from each other
date_series = date + pd.to_timedelta(np.arange(12), 'D')
print(date_series)

In [ ]:
# Alternative syntax
date_series2 = pd.date_range('29 sep 2019', periods = 12, freq = 'D')
print(date_series2)

In [ ]:
df5 = pd.DataFrame()
df5['Date'] = date_series
df5.head()

In [ ]:
# Adding fixed period of time to an inital datetime object
df5['next_week'] = df5['Date'] + pd.DateOffset(weeks=1)
df5

In [ ]:
# Calculating difference in time
time_elapsed = df5['Date'][1] - df5['Date'][0]
time_elapsed

### Extract info from datetime

In [ ]:
df5['Year'] = df5['Date'].dt.year
df5['Month'] = df5['Date'].dt.month
df5['Day'] = df5['Date'].dt.day
df5['Hour'] = df5['Date'].dt.hour
df5['Minute'] = df5['Date'].dt.minute
df5.head()

In [ ]:
df5['Weekday'] = df5['Date'].dt.weekday
df5['Day_name'] = df5['Date'].dt.day_name()
df5['Day_of_year'] = df5['Date'].dt.dayofyear
df5.head()

## Applying functions
- pandas can make appplying functions on DataFrames very efficient if we use it the right way
- Reference: https://realpython.com/fast-flexible-pandas/

In [ ]:
temp_df = pd.DataFrame({'num': [1, 2, 3, 4]})
temp_df

In [ ]:
def power_func(x):
    return x*x
temp_df['power']=temp_df['num'].apply(power_func)
temp_df

We are going to examine how fast pandas can go in applying functions by solving the problem below where we have to determine the hourly costs of electricity based on the time-of-use costs provided.

In [ ]:
rates = pd.DataFrame({'Tariff Type': ['Peak', 'Shoulder', 'Off-peak'], 
                      'Cents per kwh': [28, 20, 12], 
                      'Time Range':['1700-2400', '0700-1700', '0000-0700']})
rates

Link to original dataset in github: https://github.com/realpython/materials/blob/master/pandas-fast-flexible-intuitive/tutorial/demand_profile.csv

To get the dataset directly: 
https://drive.google.com/file/d/1xH9D5ksgwhEiPh36Dp-f466qUqJJ1U0M/view?usp=sharing

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
# Each row indicates the usage for the “hour starting” at the time, so 1/1/13 0:00 indicates the usage for the first hour of January 1st.
df7 = pd.read_csv("/content/demand_profile.csv")
df7

In [ ]:
# we shall first convert the 'date_time' column to datetime format to extract the hour information from it
df7['date_time'] = pd.to_datetime(df7['date_time'])

In [ ]:
import timeit
func1 = pd.read_csv('demand_profile.csv')
def convert(df, column_name):
    return pd.to_datetime(df[column_name])

column_name = 'date_time'
avg_time = timeit.timeit('convert(func1, column_name)', 'from __main__ import convert, func1, column_name', number=10)/10
print('Average runtime of function:\n')
avg_time

In [ ]:
import timeit
func2 = pd.read_csv('demand_profile.csv')
def convert_with_format(df, column_name):
    return pd.to_datetime(df[column_name], format='%d/%m/%y %H:%M')

column_name = 'date_time'
avg_time = timeit.timeit('convert_with_format(func2, column_name)', 'from __main__ import convert_with_format, func2, column_name', number=10)/10
print('Average runtime of function:\n')
avg_time

In [ ]:
# general function for criteria for charging rates for electricity used based on when it is used
def apply_tariff(kwh, hour):
    if 24 > hour >= 17:
        rate = 28
    elif 17 > hour >= 7:
        rate = 20
    elif 7 > hour >= 0:
        rate = 12
    else:
        raise ValueError(f'Invalid hour: {hour}')
    return kwh * rate

In [ ]:
def apply_tariff_loop(df):
     # Calculate costs in loop.  Modifies `df` inplace.
    energy_cost_list = []
    for i in range(len(df)):
         # Get electricity used and hour of day
        energy_used = df.iloc[i]['energy_kwh']
        hour = df.iloc[i]['date_time'].hour
        energy_cost = apply_tariff(energy_used, hour)
        energy_cost_list.append(energy_cost)
    df['cost_cents'] = energy_cost_list

avg_time = timeit.timeit('apply_tariff_loop(df7)', 'from __main__ import apply_tariff_loop, df7', number = 10 )/10
print('Average runtime of function:\n')
avg_time

In [ ]:
def apply_tariff_iterrows(df):
    energy_cost_list =[]
    for index, row in df.iterrows():
        energy_used = row['energy_kwh']
        hour = row['date_time'].hour
        energy_cost = apply_tariff(energy_used, hour) 
        energy_cost_list.append(energy_cost)
    df['cost_cents'] = energy_cost_list

avg_time = timeit.timeit('apply_tariff_iterrows(df7)', 'from __main__ import apply_tariff_iterrows, df7', number = 10)/10
print('Average runtime of function:\n')
avg_time

In [ ]:
def apply_tariff_withapply(df):
    df['cost_cents'] = df.apply(
    lambda row: apply_tariff(row['energy_kwh'], row['date_time'].hour), axis =1)
    
avg_time = timeit.timeit('apply_tariff_withapply(df7)', 'from __main__ import apply_tariff_withapply, df7', number = 10)/10
print('Average runtime of function:\n')
avg_time

In [ ]:
df7.set_index('date_time', inplace = True)

def apply_tariff_isin(df):
    peak_hours = df.index.hour.isin(range(7, 17))
    shoulder_hours = df.index.hour.isin(range(17, 24))
    off_peak_hours = df.index.hour.isin(range(0, 7))
    
    df.loc[peak_hours, 'cost_cents'] = df.loc[peak_hours, 'energy_kwh'] * 28
    df.loc[peak_hours, 'cost_cents'] = df.loc[peak_hours, 'energy_kwh'] * 20
    df.loc[peak_hours, 'cost_cents'] = df.loc[peak_hours, 'energy_kwh'] * 12
    
avg_time = timeit.timeit('apply_tariff_isin(df7)', 'from __main__ import apply_tariff_isin, df7', number = 10)/10
print('Average runtime of function:\n')
avg_time

# the .isin() method is returning an array of Boolean values
# when you pass these Boolean arrays to the DataFrame’s .loc indexer, you get a slice of the DataFrame that only includes rows that match those hours

In [ ]:
def apply_tariff_cut(df):
    cents_per_kwh = pd.cut(x=df.index.hour,
                          bins = [0,6,16,23],
                          include_lowest = True,
                          labels = [12,20,28]).astype(int)
    
    df['cost_cents'] = cents_per_kwh * df['energy_kwh']
    
avg_time = timeit.timeit('apply_tariff_cut(df7)', 'from __main__ import apply_tariff_cut, df7', number = 10)/10
print('Average runtime of function:\n')
avg_time

## Pandas Exercise

Here we will use the titanic dataset from https://www.kaggle.com/c/titanic/data?select=train.csv

This is the link where you can get the dataset directly: 
https://drive.google.com/file/d/1vG3ApUCZKm-0joSrBdNmvA66dIcS_9dn/view?usp=sharing

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
import io
titanic = pd.read_csv(io.BytesIO(uploaded['titanic_dataset.csv']))
titanic

For coders with local Jupyter Notebook. Make sure that the notebook is in the same folder as the dataset.

In [ ]:
titanic = pd.read_csv('titanic_dataset.csv')
titanic

Question 1: What is the average fare of all passengers?

In [ ]:
#Type your code here

In [ ]:
#Expected output: 32.2042079685746

Question 2: What is the average fare of passengers with first class tickets?

In [ ]:
#Type your code here

In [ ]:
# Expected output: 84.15468749999992

Question 3: How many unique ticket numbers are there?

In [ ]:
#Type your code here

In [ ]:
# Expected output: 681

Question 4: What are the cabin numbers with the most number of passengers?

In [ ]:
#Type your code here

In [ ]:
# Expected output:
# C23 C25 C27    4
# G6             4
# B96 B98        4
# Name: Cabin, dtype: int64

Question 5: Find the number of passengers that have siblings or spouses or parents or children on board

In [ ]:
#Type your code here

In [ ]:
# Expected output: 354

Question 6: Find the age of the passenger that has the word 'Capt' in his name.

In [ ]:
#Type your code here

In [ ]:
# Expected output: 70.0

Question 7: Find the age group that has the highest number of survivors out of these 3 provided (0 to 20(inclusive), 20 to 50(inclusive), above 50)

In [ ]:
#Type your code here

In [ ]:
# Expected output: 20 to 50(inclusive)

# Data Visualisation with Matplotlib and Seaborn

## Matplotlib

In [ ]:
import matplotlib.pyplot as plt

For jupyter notebooks, u will need the above line of code to see the plots.

In [ ]:
%matplotlib inline

For other editors, use: plt.show() at the end of all plotting commands to have the figure pop up in another window.

In [ ]:
import numpy as np
x = np.linspace(0, 2, 11)
y = x ** 2

In [ ]:
x

In [ ]:
y

### Basic plotting

In [ ]:
plt.plot(x, y, 'b') # 'r' is the color red
plt.xlabel('X Axis Title Here')
plt.ylabel('Y Axis Title Here')
plt.title('String Title Here')
plt.show()

### Creating Multiplots on Same Canvas

In [ ]:
# plt.subplot(nrows, ncols, plot_number)
plt.subplot(1,2,1)
plt.plot(x, y, 'g--') # More on color options later
plt.subplot(1,2,2)
plt.plot(x, y, 'b*-');

### Matplotlib Object Oriented Methods
- Plotting with the more formal object oriented method will grant you greater control over your plots
- It can be done by first instantiating a figure object and call methods or attributes of that object

In [ ]:
# Create Figure (empty canvas)
fig = plt.figure()

# Add set of axes to figure
axes = fig.add_axes([0.2, 0.2, 1, 1]) # left, bottom, width, height 

# Plot on that set of axes
axes.plot(x, y, 'b')
axes.set_xlabel('Set X Label') 
axes.set_ylabel('Set y Label')
axes.set_title('Set Title')

In [ ]:
# Creates blank canvas
fig = plt.figure()

axes1 = fig.add_axes([0.1, 0.1, 0.8, 0.8]) # main axes
axes2 = fig.add_axes([0.5, 0.5, 0.4, 0.3]) # inset axes

# Larger Figure Axes 1
axes1.plot(x, y, 'b')
axes1.set_xlabel('X_label_axes2')
axes1.set_ylabel('Y_label_axes2')
axes1.set_title('Axes 2 Title')

# Insert Figure Axes 2
axes2.plot(y, x, 'r')
axes2.set_xlabel('X_label_axes2')
axes2.set_ylabel('Y_label_axes2')
axes2.set_title('Axes 2 Title');

In [ ]:
# Use similar to plt.figure() except use tuple unpacking to grab fig and axes
fig, axes = plt.subplots()

# Now use the axes object to add stuff to plot
axes.plot(x, y, 'r')
axes.set_xlabel('x')
axes.set_ylabel('y')
axes.set_title('title');

In [ ]:
# Empty canvas of 1 by 2 subplots
fig, axes = plt.subplots(nrows=1, ncols=2)

In [ ]:
for ax in axes:
    ax.plot(x, y, 'b')
    ax.set_xlabel('x')
    ax.set_ylabel('y')
    ax.set_title('title')

# Display the figure object    
fig

A common issue with matplolib is overlapping subplots or figures. We ca use fig.tight_layout() or plt.tight_layout() method, which automatically adjusts the positions of the axes on the figure canvas so that there is no overlapping content:

In [ ]:
fig, axes = plt.subplots(nrows=1, ncols=2)

for ax in axes:
    ax.plot(x, y, 'g')
    ax.set_xlabel('x')
    ax.set_ylabel('y')
    ax.set_title('title')

fig    
plt.tight_layout()

Setting the size of the figure:

In [ ]:
fig, axes = plt.subplots(figsize=(12,3))

axes.plot(x, y, 'r')
axes.set_xlabel('x')
axes.set_ylabel('y')
axes.set_title('title');

Adding labels and legends:

In [ ]:
fig = plt.figure()

ax = fig.add_axes([0,0,1,1])

ax.plot(x, x**2, label="x**2")
ax.plot(x, x**3, label="x**3")
ax.legend()

In [ ]:
# Lots of options....

ax.legend(loc=1) # upper right corner
ax.legend(loc=2) # upper left corner
ax.legend(loc=3) # lower left corner
ax.legend(loc=4) # lower right corner

# .. many more options are available

# # Most common to choose
ax.legend(loc=0) # let matplotlib decide the optimal location
fig

We can configure the ranges of the axes using the set_ylim and set_xlim methods in the axis object, or axis('tight') for automatically getting "tightly fitted" axes ranges:

In [ ]:
fig, axes = plt.subplots(1, 3, figsize=(12, 4))

axes[0].plot(x, x**2, x, x**3)
axes[0].set_title("default axes ranges")

axes[1].plot(x, x**2, x, x**3)
axes[1].axis('tight')
axes[1].set_title("tight axes")

axes[2].plot(x, x**2, x, x**3)
axes[2].set_ylim([2, 4])
axes[2].set_xlim([1, 2])
axes[2].set_title("custom axes range");

## Seaborn

### Distribution Plots

In [ ]:
import seaborn as sns
%matplotlib inline

Seaborn comes with built-in datasets!

Refer to https://github.com/mwaskom/seaborn-data for more dataset choices

In [ ]:
tips = sns.load_dataset('tips')
tips

Displot
- combines the matplotlib hist function (with automatic calculation of a good default bin size) with the seaborn kdeplot() and rugplot() functions
- KDE Plot described as Kernel Density Estimate is used for visualizing the Probability Density of a continuous variable. It depicts the probability density at different values in a continuous variable.

In [ ]:
sns.distplot(tips['tip'], hist=True, kde=True, rug=True, bins=25)
# Seaborn's barplot returns an axis-object
#ax.set(xlabel='Tip', ylabel='Density')

Jointplot
- Draw a plot of two variables with bivariate and univariate graphs

In [ ]:
# “scatter” | “kde” | “hist” | “hex” | “reg” | “resid”
sns.jointplot(x='total_bill',y='tip',data=tips,kind='scatter')

Pairplot
- Plot pairwise relationships between numerical data in a dataset.

In [ ]:
sns.pairplot(tips)

### Categorical Plots

Countplot and barplot

In [ ]:
# only plots the frequency
sns.countplot(x='sex',data=tips)

In [ ]:
# includes functions in plot, default function is mean
sns.barplot(x='sex',y='total_bill',data=tips, estimator=np.mean)

![Screenshot (132).png]()

Link to original image: https://towardsdatascience.com/violin-plots-explained-fb1d115e023d

Boxplot
-  the box shows the quartiles of the dataset while the whiskers extend to show the rest of the distribution, except for points that are determined to be “outliers” using a method that is a function of the inter-quartile range

In [ ]:
sns.boxplot(x="day", y="total_bill", data=tips, palette='rainbow')

In [ ]:
sns.boxplot(x="day", y="total_bill", hue="smoker",data=tips, palette="coolwarm")

Violinplot
- a combination of boxplot and kernel density estimate

In [ ]:
sns.violinplot(x="day", y="total_bill", data=tips,palette='rainbow')