# Data Acquisition in Python

---

### Essential Libraries

Let us begin by importing the essential Python Libraries.

> NumPy : Library for Numeric Computations in Python  
> Pandas : Library for Data Acquisition and Preparation

In [1]:
pip install numpy pandas

Requirement already satisfied: numpy in /home/minin0la/anaconda3/envs/ee0005/lib/python3.8/site-packages (1.19.5)
Requirement already satisfied: pandas in /home/minin0la/anaconda3/envs/ee0005/lib/python3.8/site-packages (1.2.1)
Requirement already satisfied: pytz>=2017.3 in /home/minin0la/anaconda3/envs/ee0005/lib/python3.8/site-packages (from pandas) (2020.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/minin0la/anaconda3/envs/ee0005/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /home/minin0la/anaconda3/envs/ee0005/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Basic Libraries

import numpy as np
import pandas as pd

---

### Pandas Dataframe

The `pandas` library in Python offers an amazing data structure for data science -- the `DataFrame`.    
It is pretty close to a `dictionary`, and we will start by creating a `DataFrame` from `dictionary`.

In [3]:
pd.__version__

'1.2.1'

In [4]:
canteens_dict = {"Name" : ["North Spine", "Koufu", "Canteen 9", "North Hill", "Canteen 11"],
                 "Stalls" : [20, 15, 10, 12, 8],
                 "Rating" : [4.5, 4.2, 4.0, 3.7, 4.2]
                }

canteens_df = pd.DataFrame(canteens_dict)
canteens_df

          Name  Stalls  Rating
0  North Spine      20     4.5
1        Koufu      15     4.2
2    Canteen 9      10     4.0
3   North Hill      12     3.7
4   Canteen 11       8     4.2

It is super simple to access the columns of the `DataFrame` -- directly use the column names.

In [5]:
canteens_df["Name"]

0    North Spine
1          Koufu
2      Canteen 9
3     North Hill
4     Canteen 11
Name: Name, dtype: object

You may also extract a single record or row from a `DataFrame` -- use `iloc` with the index.

In [6]:
canteens_df.iloc[:]

          Name  Stalls  Rating
0  North Spine      20     4.5
1        Koufu      15     4.2
2    Canteen 9      10     4.0
3   North Hill      12     3.7
4   Canteen 11       8     4.2

Thus, a Pandas `DataFrame` is really like a table, with structured data accessible in two ways.

---

### Import CSV file into a DataFrame

If the dataset is in a standard CSV format (flat file), we may use the `read_csv` function from Pandas.

In [7]:
csv_data = pd.read_csv('data/somedata.csv', header = None)
csv_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,1,12.6,12.3,1.0708,23,154.25,67.75,23.7,134.9,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
1,2,6.9,6.1,1.0853,22,173.25,72.25,23.4,161.3,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
2,3,24.6,25.3,1.0414,22,154.00,66.25,24.7,116.0,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
3,4,10.9,10.4,1.0751,26,184.75,72.25,24.9,164.7,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
4,5,27.8,28.7,1.0340,24,184.25,71.25,25.6,133.1,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7

In [8]:
print("Data type : ", type(csv_data))
print("Data dims : ", csv_data.shape)

Data type :  <class 'pandas.core.frame.DataFrame'>
Data dims :  (252, 19)

In [9]:
csv_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       252 non-null    int64
 1   1       252 non-null    float64
 2   2       252 non-null    float64
 3   3       252 non-null    float64
 4   4       252 non-null    int64
 5   5       252 non-null    float64
 6   6       252 non-null    float64
 7   7       252 non-null    float64
 8   8       252 non-null    float64
 9   9       252 non-null    float64
 10  10      252 non-null    float64
 11  11      252 non-null    float64
 12  12      252 non-null    float64
 13  13      252 non-null    float64
 14  14      252 non-null    float64
 15  15      252 non-null    float64
 16  16      252 non-null    float64
 17  17      252 non-null    float64
 18  18      252 non-null    float64
dtypes: float64(17), int64(2)
memory usage: 37.5 KB

---

### Import TXT file into a DataFrame

If the dataset is in a standard TXT format (flat file), we may use the `read_table` function from Pandas.

In [10]:
txt_data = pd.read_csv('data/somedata.txt', sep = "\s+", header = None)
txt_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,1,12.6,12.3,1.0708,23,154.25,67.75,23.7,134.9,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
1,2,6.9,6.1,1.0853,22,173.25,72.25,23.4,161.3,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
2,3,24.6,25.3,1.0414,22,154.00,66.25,24.7,116.0,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
3,4,10.9,10.4,1.0751,26,184.75,72.25,24.9,164.7,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
4,5,27.8,28.7,1.0340,24,184.25,71.25,25.6,133.1,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7

In [11]:
print("Data type : ", type(txt_data))
print("Data dims : ", txt_data.shape)

Data type :  <class 'pandas.core.frame.DataFrame'>
Data dims :  (252, 19)

---

### Import XLS file into a DataFrame

If the dataset is in a Microsoft XLS or XLSX format, we may use the `read_excel` function from Pandas.    
However, to use the `read_excel` function, you will need to install the `xlrd` module using Anaconda.

In [12]:
xls_data = pd.read_excel('data/somedata.xlsx', sheet_name = 'Sheet1', header = None)
xls_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,1,12.6,12.3,1.0708,23,154.25,67.75,23.7,134.9,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
1,2,6.9,6.1,1.0853,22,173.25,72.25,23.4,161.3,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
2,3,24.6,25.3,1.0414,22,154.00,66.25,24.7,116.0,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
3,4,10.9,10.4,1.0751,26,184.75,72.25,24.9,164.7,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
4,5,27.8,28.7,1.0340,24,184.25,71.25,25.6,133.1,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7

In [13]:
print("Data type : ", type(xls_data))
print("Data dims : ", xls_data.shape)

Data type :  <class 'pandas.core.frame.DataFrame'>
Data dims :  (252, 19)


---

### Import JSON file into a DataFrame

If the dataset is in a standard JSON format, we may use the `read_json` function from Pandas.

In [14]:
json_data = pd.read_json('data/somedata.json')
json_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,1,12.6,12.3,1.0708,23,154.25,67.75,23.7,134.9,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
1,2,6.9,6.1,1.0853,22,173.25,72.25,23.4,161.3,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
2,3,24.6,25.3,1.0414,22,154.00,66.25,24.7,116.0,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
3,4,10.9,10.4,1.0751,26,184.75,72.25,24.9,164.7,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
4,5,27.8,28.7,1.0340,24,184.25,71.25,25.6,133.1,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7

In [15]:
print("Data type : ", type(json_data))
print("Data dims : ", json_data.shape)

Data type :  <class 'pandas.core.frame.DataFrame'>
Data dims :  (252, 19)

---

### Import HTML table into a DataFrame

If the dataset is in a table formal within an HTML website, we may use the `read_html` function from Pandas.    
Let's try to get the Cast of Kung-Fu Panda : http://www.imdb.com/title/tt0441773/fullcredits/?ref_=tt_ov_st_sm

In [16]:
html_data = pd.read_html('http://www.imdb.com/title/tt0441773/fullcredits/?ref_=tt_ov_st_sm')

In [17]:
print("Data type : ", type(html_data))
print("HTML tables : ", len(html_data))

Data type :  <class 'list'>
HTML tables :  24

In [65]:
html_data[2].loc[1:26,[1,3]]


# # newdata = html_data[2]
# # list(newdata[1])[1:-2]

# html_data[2]
# newdata = html_data[2]
# newdata[1]
# list(newdata[1])[1:-2]

                        1                                  3
1              Jack Black                         Po (voice)
2          Dustin Hoffman                      Shifu (voice)
3          Angelina Jolie                    Tigress (voice)
4             Ian McShane                   Tai Lung (voice)
5             Jackie Chan                     Monkey (voice)
6              Seth Rogen                     Mantis (voice)
7                Lucy Liu                      Viper (voice)
8             David Cross                      Crane (voice)
9         Randall Duk Kim                     Oogway (voice)
10             James Hong                   Mr. Ping (voice)
11             Dan Fogler                       Zeng (voice)
12  Michael Clarke Duncan           Commander Vachir (voice)
13           Wayne Knight                  Gang Boss (voice)
14              Kyle Gass                    KG Shaw (voice)
15                JR Reed                    JR Shaw (voice)
16      Laura Kightlinger                 Awed Ninja (voice)
17            Tanya Haden              Smitten Bunny (voice)
18         Stephen Kearin  Gong Pig / Grateful Bunny (voice)
19           Mark Osborne                 Pig Patron (voice)
20         John Stevenson                Rhino Guard (voice)
21           Jeremy Shipp                Blind Gator (voice)
22           Melissa Cobb                  Bunny Mom (voice)
23           Kent Osborne                    Pig Fan (voice)
24            Emily Burns                Bunny Fan 1 (voice)
25       Stephanie Harvey                Bunny Fan 2 (voice)
26          Riley Osborne              Baby Tai Lung (voice)